<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order_list</title>
</head>
<body>
<h1>Order:</h1>
{% if order %}
<div>
    {% for i in order %}
    <div>
        <p>Details - <a href="{% url 'shopapp:order_details' pk=i.pk %}">К деталям</a></p>
        <p>Order by - {% firstof i.user.first_name i.user.username %}</p>
        <p>Promocode - <code>{{ i.promocod }}</code></p>
        <p>Delivery adres - {{ i.delivery_adres }}
        <p>created at - {{ i.created_at }}</p>
        <div>
            Product in order:
            <ul>
                {% for j in i.products.all %}
                <li>{{ j.name }} for ${{ j.prise }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endfor %}
{% else %}
You haven't order
{% endif %}
</body>
</html>