<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login account</title>
</head>
<body>
<div>
    <div><strong>Login form:</strong></div>
    <!--    {% if error_404 %}-->
    <!--    <p style="color: red">-->
    <!--        <strong>{{ error_404 }}$ 404</strong>-->
    <!--    </p>-->
    <!--    {% endif %}-->
    <!--    <div>-->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!--            <p>-->
        <!--                <label for="username">Name:</label>-->
        <!--                <input type="text" id="username" name="username" required>-->
        <!--            </p>-->
        <!--            <p>-->
        <!--                <label for="password">Password:</label>-->
        <!--                <input type="password" id="password" name="password" required>-->
        <!--            </p>-->
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>